.header {
    height: 70px;
    width: 120px;
    color: #ffffff;
    background: #155252;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    align-items: center;
}